<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Disease Diagnosis</title>
</head>

<body>
	<div class="container">
		<h2 class="sub-heading">Disease Diagnosis</h2>
		<form action="{{ url_for('disease_diagnosis') }}" method="post">
			<label for="symptoms">Enter the symptoms:</label><br>
			<textarea id="symptoms" name="symptoms" rows="4" cols="50"></textarea><br>
			<input type="submit" value="Predict Disease">
		</form>

		{% if diseases %}
		<h2>Predicted Disease:</h2>
		<div>{{ diseases }}</div>
	{% endif %}

	</div>
</body>

</html>